
<!DOCTYPE html>
<html lang="en">
<div class="page-header">
<h1>All Our Statuses</h1>
</div>

  <table class="table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Content</th>
        <th>Next</th>
        <th>When</th>
        <th></th>
        <th> </th>
      </tr>
    </thead>
  <tbody>
    <span class="admin">
      <% @statuses.each do |status| %>
      <tr>
  <div class= "status">
      <STRONG><td><%= status.name %></td></STRONG>
        <td><%= status.content %></td>
        <td><%= status.next %></td>
    <div class="meta">
        <td><%= link_to time_ago_in_words(status.created_at) + " ago", status %></td>
      
        <td><%= link_to 'Edit', edit_status_path(status) %></td> 
        <td><%= link_to 'Destroy', status, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </span>
    </div>
  </div>
      </tr>
    <% end %>
  </tbody>
</table>
<br>
<p>
  <button class="btn" type="button">
     <%= link_to 'New Status', new_status_path %>
  </button>
</p>
</html>





